<div class="row flex">
	{% for property in properties %}
		<div class="col-3 mb-4">
			<div class="card">
				<div class="card-body">
					<h5 class="card-title">
						<a href="{{ path("property_show", {id:property.id, slug:property.slug} )}}">{{ property.title }}</a>
					</h5>
					<p class="card-text">{{ property.surface }}
						m2 -
						{{ property.city }}
						({{ property.postalCode}})</p>
					<div class="text-primary" style="font-weight: bold; font-size: 2rem;">{{ property.formattedPrice }}
						€</div>
				</div>
			</div>
		</div>
	{% endfor %}
</div>
